{% from 'bootstrap5/table.html' import render_table %}

<div class="card mb-4">
    <div class="card-header">
        <h5 class="mb-0">
            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#emailsTable" aria-expanded="true" aria-controls="emailsTable">
                All Emails
            </button>
        </h5>
    </div>

    <div id="emailsTable" class="collapse show" aria-labelledby="headingOne">
        <div class="card-body">
            {{
            render_table(
                emails_data,
                titles=emails_data.titles,
                responsive=True,
                responsive_class='table-responsive-sm'
            )
            }}
        </div>
    </div>
</div>
