{% from 'bootstrap5/form.html' import render_form %}
<div class="card mb-4">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#emailSender" aria-expanded="true" aria-controls="emailSender">
          Email-Sender-Configuration-Form
        </button>
      </h5>
    </div>

    <div id="emailSender" class="collapse show" aria-labelledby="headingOne">
      <div class="card-body">
            <form method="POST">
                {{ render_form(form) }}
            </form>
      </div>
    </div>
  </div>
