<div class="card mb-4">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#jobData" aria-expanded="true" aria-controls="jobData">
          General Job Data
        </button>
      </h5>
    </div>

    <div id="jobData" class="collapse show" aria-labelledby="headingOne">
      <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><strong>Job ID: </strong> {{ job.id }}</li>
            <li class="list-group-item"><strong>Job Name: </strong> {{ job.name }}</li>
            <li class="list-group-item"><strong>Subject: </strong> {{ job.subject }}</li>
            <li class="list-group-item"><strong>Schedule Date: </strong> {{ job.schedule_date }}</li>
            <li class="list-group-item"><strong>Is Scheduled: </strong> {{ job.is_scheduled }}</li>
            <li class="list-group-item"><strong>Is Finished: </strong> {{ job.is_finished }}</li>
        </ul>
      </div>
    </div>
  </div>
