{% from 'bootstrap5/table.html' import render_table %}

<div class="card mb-4">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#jobsTable" aria-expanded="true" aria-controls="jobsTable">
          Jobs Table
        </button>
      </h5>
    </div>

    <div id="jobsTable" class="collapse show" aria-labelledby="headingOne">
      <div class="card-body">
            {{
            render_table(
                    table_data,
                    titles=table_data.titles,
                    responsive=True,
                    responsive_class='table-responsive-sm',
                    show_actions=True,
                    delete_url=('delete_job', [('job_id', ':id')]),
                    custom_actions=[
                    (
                        'Schedule',
                        'clipboard-plus',
                        ('schedule_job', [('job_id', ':id')])
                    )
                ]
                )
            }}
      </div>
    </div>
  </div>
