<!-- user_data.html -->
<div class="card mb-4">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#userData" aria-expanded="true" aria-controls="userData">
          User Data
        </button>
      </h5>
    </div>
  
    <div id="userData" class="collapse show" aria-labelledby="headingOne">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item"><strong>Username: </strong> admin</li>
          <li class="list-group-item"><strong>Password: </strong> password</li>
        </ul>
      </div>
    </div>
  </div>
  